.gallery {
  margin: 0;
  padding: 0 3.75% 92px;
}

@media screen and (max-width: 768px) {
  .gallery {
    padding: 0 3.125% 88px;
  }
}

@media screen and (max-width: 320px) {
  .gallery {
    padding: 0 5% 64px;
  }
}
