.cover {
  margin: 0;
  padding: 0 3.75% 92px;
}

@media screen and (max-width: 1024px) {
  .cover {
    padding: 0 0 92px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    padding: 0 0 88px;
  }
}
@media screen and (max-width: 425px) {
  .cover {
    padding: 0 0 64px;
  }
}
