.footer {
  margin: 0;
  padding: 0 3.75% 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 0 4.7% 24px;
  }
}


@media screen and (max-width: 768px) {
  .footer {
    padding: 0 3.125% 24px;
  }
}

@media screen and (max-width: 640px) {
  .footer {
    padding: 0 36.875% 24px 5%;
    flex-direction: column;
    gap: 48px;
    align-items: flex-start;
  }
}

@media screen and (max-width: 425px) {
  .footer {

  }
  }
