.places__item {
  display: grid;
  row-gap: 48px;
  column-gap: 40px;
  grid-template-columns: minmax(100px, 460px) minmax(min-content, 484px);
  grid-template-rows: repeat(2, minmax(min-content, max-content));
}
